@font-face {
    font-family: 'roboto';
    src: url('../../assets/roboto-font.ttf');
}

.heading {
    font-family: 'roboto';
    text-align: center;
    user-select: none;
}

@media screen and (max-height: 500px) {
    .heading {
        display: none;
    }
}
    